@import '../styles/colors.scss';

.layout {
  position: relative;
  height: 100vh;
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;

  &::after {
    position: fixed;
    display: block;
    content: "";
    background-color: $Yellow;
    top: 50%;
    left: 50%;
    width: 280%;
    height: 100%;
    border-radius: 100%;
    transform: translateX(-50%) skewY(-10deg);
    z-index: -10;
    animation: animation_wave 6s ease-in-out infinite alternate;

    @keyframes animation_wave {
      from {
        transform: translateX(-50%) skew(0deg, -10deg)
      }
      to {
        transform: translateX(-30%) skew(10deg, -5deg)
      }
    }
  }
}